@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовые стили для body и root */
body {
  margin: 0;
  min-height: 100vh;
}

#root {
  max-width: 1126px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}